/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  #bar{
    height: 50vh;
    width: 100vh;
    position: relative;
    overflow: hidden;
 }

  #map{
    height: 50vh;
    width: 100vh;
    position: relative;
    overflow: hidden;
    left: 50px;
 }

 #mapChloro{
  height: 50vh;
  width: 100vh;
  position: relative;
  overflow: hidden;
}

.container .box .box-row {
  display:table-row;
}
.container .box .box-cell {
  display:table-cell;
}